@font-face {
    font-family: 'Norse-Bold'; /* â† koristi ovo ime! */
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,body{
    margin:0;
    height: 100%;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.picture{
    flex: 1;
    position: relative;
}
.overlay {
    position: absolute;
    top: 30%; 
    left: 0;
    width: 100%;     
    height: 120px;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 10;
    overflow: hidden;
}


.logo {
    font-family: 'Norse-Bold', sans-serif;
    color: white;
    font-size: 2.5rem;
    letter-spacing: 3px;
    user-select: none;
}
.form{
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.form > div{
    flex: 1;
    width: 100%;
}

.first {
    display: flex;
    justify-content: center;  
    align-items: center;      
    padding: 20px;
    height: 100%;
    background-color: beige;
  }
  .text-block {
    text-align: left;         
    max-width: 500px;        
    width: 100%;             
  }
  span{
    font-style: italic;
  }
  

.picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.odin {
    height: 80% !important;    
    width: auto !important;
    max-width: 100% !important;
    object-fit: contain !important;
    display: block;
}
.form-container {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  h2 {
    text-align: left;
    margin-bottom: 20px;
  }

  .row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
  }

  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input {
    padding: 10px;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    background-color: #fdfdff;
    transition: border-color 0.3s ease;
  }

  input:focus {
    border-color: #88aaff;
    outline: none;
    background-color: #ffffff;
  }

  input:invalid {
    border-color: red;
  }

  button {
    padding: 12px;
    background-color:  #596D48;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 150px;
    text-align: center;
  }

  button:hover {
    background-color: #6f95ff;
  }

  a{
    color: #596D48;
    text-decoration: none;
    font-style: oblique;
  }